#livechat {
  padding:6px;
  background:#ddd;
  border: 1px solid #b7b2b2;
  position:fixed;
  bottom:0;
  right:0;
  font-size:14px;
}
#livechat ul {
  padding:0;
  list-style:none;
  max-height: 150px;
  overflow-y: scroll;
}
#livechat i {
  color:#969696;
  margin-right:6px;
}
#livechat input {
  width: 190px;
  height: 22px;
}
